:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #706f6f;
    --azul: rgb(87, 104, 138);
    --verde: rgb(68, 169, 96);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html {
    overflow-y: scroll;
}

header {
    background-image: url('./../images/design2_image1.jpg');
    background-position: 0% 20%;
    height: 270px;
    width: 80%;
    margin: 80px auto 0 auto;
}

header > img {
    position: relative;
    top: 270px;
    left: 0;
    background-color: var(--blanco);
    height: 175px;
    border: 1px solid var(--negro);
}

header > h1 {
    font-size: 50px;
    position: relative;
    top: -75px;
}

.main-title-01{
    background-color: var(--blanco);
    height: 50px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    color: var(--negro);
    border: 1px solid var(--negro);
}

nav {
   position: absolute;
   top: 60px;
   left: 58%;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--azul);
    width: 120px;
    margin: 0 10px 0;
    box-shadow: 5px 5px 5px var(--gris);
    height: 40px;
    padding-top: 8px;
    text-align: center;
    color: var(--blanco);
}

nav > a:hover, .selected  {
    background-color: var(--verde);
}

section article, .not-article {
    position: relative;
    top: 50px;
    left: 400px;
    width: 60%;
}

section article > *, .not-article {
    margin: 10px 0 ;
}

section article > p, .not-article {
    margin-left: 30px;
}

figure > img {
    width: 300px;
    position: absolute;
    left: 60%;
    z-index: -1;
    border-radius: 50%;
}



