:root {
    --blanco: #FFFFFF;
    --negro: #000000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html {
    overflow-y: scroll;
}

header{
    background-image: url('./../images/design1_image1.jpg');
    background-position: 0% 20%;
    height: 350px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

header > img {
    position: relative;
    top: 230px;
    left: 80%;
    background-color: var(--blanco);
    height: 175px;
    border: 1px solid var(--negro);
}

header > h1 {
    font-size: 50px;
}

.main-title-01{
    background-color: var(--negro);
    height: 50px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
   padding: 10px;
    color: var(--blanco);
}

nav {
   position: absolute;
   top: 450px;
   left: 180px;
}

nav > a {
    display: block;
    width: 150px;
    height: 40px;
    padding-top: 8px;
    text-align: left;
    color: var(--negro);
}

.selected {
    text-decoration: none;
}

section article, .not-article {
    position: relative;
    top: 50px;
    left: 400px;
    width: 60%;
}

section article > *, .not-article {
    margin: 10px 0 ;
}

section article > p, .not-article {
    margin-left: 30px;
}

figure > img {
    width: 500px;
    position: absolute;
    left: 55%;
    z-index: -1;
}



