* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
    background-image: url('./../images/design2_image1.jpg');
    background-position: 0% 20%;
    height: 270px;
    width: 80%;
    margin: 80px auto 0 auto;
}

header > img {
    position: relative;
    top: 270px;
    left: 0;
    background-color: rgb(255, 255, 255);
    height: 175px;
    border: 1px solid rgb(0, 0, 0);
}

header > h1 {
    font-size: 50px;
    position: relative;
    top: -75px;
}

.main-title-01{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

nav {
   position: absolute;
   top: 60px;
   left: 1000px;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(87, 104, 138);
    width: 150px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    color: rgb(255, 255, 255);
}

nav > a:hover, .selected  {
    background-color: rgb(68, 169, 96);
}

section article, .not-article {
    position: relative;
    top: 50px;
    left: 400px;
    width: 1180px;
}

section article > *, .not-article {
    margin: 10px 0 ;
}

section article > p, .not-article {
    margin-left: 30px;
}

figure > img {
    width: 300px;
    position: absolute;
    left: 1260px;
    z-index: -1;
    border-radius: 50%;
}



