:root {
    --color-01: #a6ffa6;
    --color-02: #17217c;
    --color-letra: rgb(48, 48, 48);
    --letra-oscuro: #000000;
    --letra-claro: #ffffff;
    --nav-oscuro: #353535;
    --nav-hover: rgb(176, 176, 176)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}

h3 {
    font-size: 4rem;
}

p, ol, th, td {
    font-size: 3rem;
    line-height: 5rem;
}

ol, p, h3 {
    padding-left: 2vw;
}

tr p {
    padding-left: 0;  
}

header{
    background: linear-gradient(to right,var(--color-01), var(--color-02));
    width: 100%;
    height: 170px;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

header > img {
    height: 800px;
    position: relative; /* Para ajustar el icono a mi gusto */
    top: 150px;
    left: 20%;
}

header > h1 {
    font-size: 5rem;
    color: var(--color-letra);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-title-01{
    background-image: url('./../images/custom_hockey_01.jpeg');
    background-position: 0% 70%;
    background-size: cover;
    font-size: 40px;
    width: 100vw;
    height: 125px;
    margin: 8px auto;
    padding-top: 78px;
    color: var(--letra-claro);
}

.main-title-02{
    background-image: url('./../images/custom_hockey_02.jpg');
    background-position: 0% 55%;
}

.main-title-03{
    background-image: url('./../images/custom_hockey_03.jpg');
    background-position: 0% 15%;
}

nav {
    background: linear-gradient(to left,var(--nav-oscuro), var(--letra-claro));
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

nav > a {
    color: var(--letra-claro);
    font-size: 30px;
    text-decoration: none;
    padding: 5px 15px;
}

nav > a:hover  {
    background-color: var(--nav-hover);
    color: var(--letra-oscuro);
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section article > *, .not-article {
    margin: 10px 0 0 100px;
    width: 70vw;
}

section article > h3 {
    background-color: var(--nav-hover);
    line-height: 6rem;
}

section article > p , section article > ol {
    max-height: 0px;
    transition: max-height 1s;
    overflow: hidden;
    background-color: var(--nav-oscuro);
    color: var(--letra-claro);
}

section article > h3:hover {
    background-color: var(--letra-claro);
}

section article > h3:hover + p , section article > h3:hover + ol {
    max-height: 400px;
}

figure > img {
    display: none;
}

table {
    margin: 0 auto 0;
}

table, th, td {
    border: 1px solid var(--nav-oscuro);
}

th, td {
    padding: 20px;
}

th {
    background-color: var(--nav-hover);
}



