:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #706f6f;
    --azul: rgb(87, 104, 138);
    --verde: rgb(68, 169, 96);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}

p {
    font-size: 1.5rem;
}

h3 {
    font-size: 2rem;
}

header {
    background-image: url('./../images/design2_image1.jpg');
    background-position: 0% 20%;
    background-size: cover;
    height: 150px;
    margin: 90px 30px 0 30px;
}

header > img {
    position: relative;
    top: 160px;
    left: 0;
    background-color: var(--blanco);
    height: 15vw;
    border: 1px solid var(--negro);
}

header > h1 {
    font-size: 4rem;
    position: relative;
    top: -75px;
}

.main-title-01{
    height: 40px;
    margin: 10px 30px 0 30px;
    text-align: center;
    padding: 5px;
    color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--negro);
}

nav {
   position: absolute;
   top: 75px;
   right: 5%;
   width: 50%;
}

nav > a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--azul);
    width: 29%;
    font-size: 1.5rem;
    margin: 0 1% 0;
    box-shadow: 5px 5px 5px var(--gris);
    height: 30px;
    padding-top: 3px;
    text-align: center;
    color: var(--blanco);
}

nav > a:hover, .selected  {
    background-color: var(--verde);
}

section article, .not-article {
    position: relative;
    top: 30px;
    left: 30%;
    width: 50%;
}

section article > *, .not-article {
    margin: 10px 0 ;
}

section article > p, .not-article {
    margin-left: 30px;
}

figure > img {
    width: 30%;
    position: absolute;
    top: 350px;
    right: 30px;
    z-index: -1;
    opacity: 0.5;
    border-radius: 50%;
}



